*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
  /* font-style: initial; */
}

body{
  background: #000;
}

.hero{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  background-position: center;
  position: relative;
  
}

.hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  object-fit: cover;
}

.logo{
  position: absolute;
  font-size: 33px;
  color: #ffff;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin-top: 28px;
  margin-left: 250px;
}

span{
  color: #f0bf6a;
}

.navbar{
  position: absolute;
  display: flex;
  margin-left: 820px;
  margin-top: 44px;
  list-style: none; /* Menghilangkan titik hitam */
  padding: 0; /* Menghilangkan padding bawaan dari ul */
}

.navbar a{
  color: #fff ;
  font-size: 1.1rem;
  font-weight: 510;
  margin: 15px 22px;
  transition: all 0.5s ease;
  text-decoration: none;
}

.navbar a.active {
  color: #f0bf6a;
}

.navbar a:hover{
  color: #f0bf6a;
}



section{
  padding: 70px 17% 60px;
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
  padding-bottom: 210px;
  margin-bottom:150px ;
  width: 80%; /* Menyesuaikan lebar */
  height: 100px; /* Menyesuaikan tinggi */
}

/* .search-container input[type="date"] {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.search-container select {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 39px;
  width: 20%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 20px;
}

.search-container option {
  background-color: #fff;
  color: #333;

}

.search-button{
  margin-right: 20px;
  margin-left: 30px ;
  font-weight: bold;

}

span{
  color: #f0bf6a;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 7%;
  padding-right: 7%;
  font-family: 'Open Sans', sans-serif;

}
/* .logo img{
  width: 200px;
  cursor: pointer;
} */
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 0px 25px;
}
nav ul a{
  color: #ffffffb3;
  font-size: 17px;
  letter-spacing: 3px;
  text-decoration: none;
}
nav ul a:hover{
  color: white;
  transition: .3s;
}
button{
  background: #191919;
  padding: 12px 20px;
  border: 2px solid #191919;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px;
  letter-spacing: 2px;
}

button:hover{
  background: transparent;
  border: 2px solid #ffffffb3;
  transform: scale(0.9);
  transition: .4s;
  cursor: pointer;
}

.content{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 230px;
  margin-left: 550px;
}


.content h3{
  display: block;
  width: 100%;
  color: #ffffffd5;
  font-size: 40px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1510px;
  position: absolute;
}

.content h1{
  width: 100%;
  font-size: 78px;
  color: white;
  font-weight: 400;
  text-transform: uppercase; 
  letter-spacing: 25px; /*jarak font
  margin: auto; /* menempatkan teks di tengah horizontal */
  margin-bottom: 1350px;
  position: absolute;
  white-space: nowrap; /* Teks tidak terputus */
  margin-left: 5px;
  margin-right: 600px;
}

.content p{
  width: 100%;
  color: #ffffffb3;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  margin-bottom: 30px;
  padding-top: 35vh;
  z-index: 5;
}
.btn{
  background: transparent;
  border: 2px solid #ffffffb3;
  padding: 14px 30px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 7px;
  z-index: 1;
}
.btn:hover{
  background: #191919;
  border: 2px solid #191919;
  transition: .2s;
  cursor: pointer;
}













/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"); */

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
} */


.background{
  background-color: #000;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin-top: 300px
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100px;
  border-radius: 1.5rem;

}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* 
@media screen and (min-width: 1120px) {

  .hero {
    height: 100vh;
  }
  } */



@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}